
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">  <!--caracteres especiales-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--descripcion de tamaño de la pantalla, que sea del mismo tamaño de la pantalla-->
    <meta name = "--descripcion" content="primera página"> <!--descripcion de la pagina-->
    <meta name = "robots" content="index, follow"> <!--permitir que los bots muestren la página-->
    <link rel="stylesheet" href="/stylesheets/style.css"> <!--estio de la p´+agina con css-->>
</head>
<body>
    <h1>Match and Mate</h1>
    <img th:src="@{/images/jtl_logo.png}">  <!-- Aqui iria el logo de la pagina-->
    <br><br>
    <div><a href="/user/recomendation"><button class="button">Amistades Recomendadas</button></a>&nbsp;<div><a href="/user/friends"><button class="button">Amigoss</button></a>
    <br>
    <table id="tablestyle">
      <caption>Personas Recomendadas Para TI</caption>
        <tr>
          <th>NAME</th>
          <th colspan="2">&nbsp;</th>
        </tr>
        <tr th:each="role: ${listRoles}">
          <td th:text="${role.name}">
            <td>
              <a th:href="@{addrecomend/} + ${role.name}"> <!-- Aceptar solicitud -->
                <img th:src="@{/images/edit.png}" witdh="15px" height="15px" alt="edit">
              </a>
            </td>
            <td>
              <a th:href="@{deleterecomend/} + ${role.name}"> <!-- eliminar Persona-->
                <img th:src="@{/images/delete.png}" witdh="15px" height="15px" alt="delete">
              </a>
          </td>
        </tr>
      </table>
</body>
</html>